::-webkit-scrollbar {
    width: 8px;
    height: 12px;
    -webkit-border-radius: 12px;
}

::-webkit-scrollbar-thumb {
    background: rgb(107, 116, 122);
    -webkit-border-radius: 12px;
}

::-webkit-scrollbar-track {
    background: rgb(245, 245, 245);
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

html, body {
    height: 100%;
    background: rgb(78, 83, 89) url(/static/images/bg_universal.png) repeat 0 0;
    color: rgb(102, 102, 102);
    font: 14px/1.5 Helvetica,"微软雅黑","黑体",Arial,Tahoma;
    text-align: center;
    overflow-y: hidden;
}

.fullscreen_post_bg{

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;

}

#fullscreen_bg_load{
    margin-top: 20px;
}

.chatPanel {
    position: relative;
    margin: 0 auto;
    padding: 70px 0 30px 0;
    width: 893px;
    border-radius: 4px;
    text-align: center;
}

.chatPanel .list {
    position: relative;
    float: left;
    width: 276px;
    border-radius: 6px;
    z-index: 99;
    border: 1px solid rgb(66, 68, 72);
    box-shadow: 0 2px 6px rgb(49, 49, 49);
}

.chatPanel .top{



}

.chatPanel .top .title{

    height: 40px;
    border-top: 1px solid rgb(155, 163, 174);
    border-bottom: 1px solid rgb(51, 51, 51);
    background-image: -moz-linear-gradient(top, #6A7786 10%, #5E6977 50%, #56616D 90%, #545E6A 100%);
    background: -webkit-gradient(linear, left top,left bottom, from(rgb(107, 120, 136)),to(rgb(84, 94, 106)), color-stop(0.1,rgb(106, 119, 134)),color-stop(0.5,rgb(94, 105, 119)),color-stop(0.9,rgb(86, 97, 109)),color-stop(1.0,rgb(84, 94, 106)));
    position: relative;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;

}

.chatPanel .top .myProfile{


}

.chatPanel .top .myProfile .info{
    color:#fff;
    font-weight: bold;
    float: left;
    padding-top: 7px;
    margin-left: 60px;
}

.chatPanel .top .myProfile img{
    border-radius: 500px;
    height: 40px;
    width: 40px;
    position: absolute;
    top: -18px;
    left: 10px;
    border: 2px solid #DDD;
}

.chatPanel .listContentWrap{

    position: relative;
    height: 450px;
    background-color: rgb(245, 245, 245);

}

.chatPanel .listContentWrap .listContent{

    width: 100%;
    top: 0px;
    position: absolute;

}

.chatPanel .chatListColumn {
    border-top: 1px solid rgb(247, 247, 247);
    border-bottom: 1px solid rgb(213, 214, 215);
    text-shadow: 0 1px 0 rgb(255, 255, 255);
    cursor: pointer;
    height: 45px;
    overflow: hidden;
    position: relative;
    padding: 7px 10px;
    text-align: left;
    _padding-right: 10px;
    background-image: linear-gradient(to bottom, rgb(245, 245, 245), rgb(238, 238, 238));
}

.chatPanel .chatListColumn .avatar_wrap {
    line-height: 0;
    float: left;
    margin-right: 10px;
    box-shadow: 0px 1px 2px rgb(128, 128, 128);
}

.chatPanel .chatListColumn .avatar {
    width: 42px;
    height: 42px;
    border-radius: 0;
    box-shadow: 0px 1px 2px rgb(145, 145, 145);
    background: rgb(164, 167, 184);
    border-top: 1px solid rgb(170, 170, 170);
    border: 1px solid rgb(255, 255, 255);
}

.chatPanel .chatListColumn .info {
    overflow: hidden;
    text-shadow: none;
}

.chatPanel .chatListColumn .nickName {
    color: rgb(52, 52, 52);
    font-size: 14px;
    width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
}

.chatPanel .chatListColumn .descWrapper {
    overflow: hidden;
    display: none;
}

.chatPanel .chat {
    margin-left: 312px;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgb(49, 49, 49);
    z-index: 20;
    _height: 400px;
}
.lightBorder {
    border-color: rgb(221, 221, 221);
}

.chatPanel .chatContainer {
    background: rgb(255, 255, 255);
    position: relative;
    border-radius: 2px 2px 6px 6px;
    -webkit-border-radius: 2px 2px 6px 6px;
    -moz-border-radius: 2px 2px 6px 6px;
    _height: 400px;
    overflow: hidden;
}

.chatPanel .chatTitle {

    height: 40px;
    border-top: 1px solid rgb(155, 163, 174);
    border-bottom: 1px solid rgb(51, 51, 51);
    background-image: -moz-linear-gradient(top, #6A7786 10%, #5E6977 50%, #56616D 90%, #545E6A 100%);
    background: -webkit-gradient(linear, left top,left bottom, from(rgb(107, 120, 136)),to(rgb(84, 94, 106)), color-stop(0.1,rgb(106, 119, 134)),color-stop(0.5,rgb(94, 105, 119)),color-stop(0.9,rgb(86, 97, 109)),color-stop(1.0,rgb(84, 94, 106)));
    position: relative;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;

}

.chatPanel .chatTitle h2{

    color: #FFF;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    vertical-align: middle;
    padding-top: 7px;

}

.chatPanel .chatScorll {
    height: 390px;
    width: 100%;
    min-height: 200px;
    overflow: hidden;
    overflow-y: auto;
    border-bottom: 1px solid rgb(190, 190, 190);
    background-color: rgb(239, 243, 247);
}

.chatPanel .chatScorll .chatItem {

    margin: 5px;
    width: 100%;
    clear: both;

}

.chatPanel .chatScorll .chatItem .avatar{

    width: 32px;
    height: 32px;
    border: 1px solid rgb(255, 255, 255);
    border: 1px solid #ccc\9;
    box-shadow: 0px 1px 0px rgb(179, 182, 186);
    float: right;
    margin-right: 10px;

}

.chatPanel .chatScorll .chatItem .content{
    border: 1px solid #ddd;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 1px 0px rgb(213, 213, 213);
    border: 1px solid #9f9f9f\9;
    background: #ECECEC\9;
    border-radius: 6px\9;
    margin-left: 8px;
    position: relative;
    float: right;
    min-width: 50px;
    max-width: 300px;
    margin: 0 15px 0 0;
    padding: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-image: linear-gradient(to bottom, #F5F5F5, #EEE);
}


.chatPanel .chatScorll .you .avatar{
    float:left;
}

.chatPanel .chatScorll .you .content{
    float:left;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(122, 162, 63);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 1px 0px rgb(219, 219, 219);
    border: 1px solid #73972a\9;
    border-radius: 6px\9;
    background-color: rgb(178, 207, 115);
    background: -webkit-gradient(linear, left top,left bottom, from(rgb(196, 222, 148)),to(rgb(164, 195, 99)), color-stop(0.1,rgb(180, 209, 116)),color-stop(0.2,rgb(178, 207, 115)), color-stop(0.3,rgb(178, 207, 115)), color-stop(0.4,rgb(178, 207, 115)), color-stop(0.5,rgb(178, 207, 115)),color-stop(0.6,rgb(175, 204, 116)), color-stop(0.7,rgb(171, 202, 108)),color-stop(0.8,rgb(174, 202, 114)), color-stop(0.9,rgb(169, 197, 114)),color-stop(1.0,rgb(164, 195, 99)));
    background-image: -moz-linear-gradient(top, #B4D174 10%, #B2CF7320%, #B2CF73 30%, #B2CF73 40%, #B2CF73 50%, #AFCC74 60%, #ABCA6C70%, #A9C572 80%, #AECA72 90%, #A4C363 100%);
}


.chatPanel .chatOperator {
    position: relative;
    text-align: left;
    border-top: 1px solid rgb(128, 131, 132);
    border-bottom: 1px solid rgb(221, 221, 221);
    background-color: rgb(234, 236, 238);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(248, 249, 250)), to(rgb(218, 221, 223)));
    background: -moz-linear-gradient(top, #F8F9FA, #DADDDF);
    border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    color: rgb(56, 62, 69);
    height: 55px;
}

.chatPanel .inputArea {
    padding: 14px 10px 0 5px;
    height: 43px;
}

.chatPanel .inputArea .btn_face{

    float:right;
    height: 28px;
    width: 28px;
    background-image: url('/static/images/chat_bottombar_icon_face.png');
    background-repeat: no-repeat;
    background-size: 28px 28px;
}

.chatPanel .inputArea .btn_face .emojify{
    height: 25px;
    width: 25px;
}

.chatPanel .chatInput {
    float: right;
    width: 403px;
    width: 400px\9;
    height: 20px;
    margin: 0 10px 0 10px;
    padding: 7px 10px 2px;
    outline: none;
    box-shadow: 1px 1px 2px rgb(187, 187, 187) inset;
    background: rgb(238, 238, 238);
    background: #fafafa\9;
    border-radius: 2px;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    border: 1px solid #ccc\9;
    font: 14px/1.5 Helvetica,"微软雅黑","黑体",Arial,Tahoma;
    line-height: 1.2em;
    resize: none;
}

a.chatSend {
    display: block;
    float: right;
    height: 28px;
    width: 80px;
    margin: 0px 1px 1px 0;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    border: 1px solid rgb(41, 68, 126);
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    box-shadow: 0 1px 3px rgb(217, 217, 217);
    text-shadow: 0 1px 1px rgb(68, 68, 68);
    background: rgb(72, 108, 180);
    background: -webkit-gradient(linear, left top,left bottom, from(rgb(96, 120, 170)),to(rgb(70, 92, 140)), color-stop(0.1,rgb(94, 118, 167)),color-stop(0.5,rgb(84, 107, 156)),color-stop(0.9,rgb(73, 95, 143)),color-stop(1.0,rgb(70, 92, 140)));
    background-image: -moz-linear-gradient(top, #5E76A7 10%, #546B9C 50%, #495F8F 90%, #465C8C 100%);
}

a.chatSend b {
    display: block;
    border-radius: 3px;
    font-size: 14px;
    line-height: 28px;
    border-top: 1px solid rgb(123, 143, 184);
    text-shadow: 0 -1px 0 rgb(79, 115, 159);
    text-align: center;
    }

.lightBorder {
    border-color: rgb(221, 221, 221);
}

#vernierContainer{
    width: 32px;
    position: relative;
    float: left;
    overflow: hidden;
    margin-top: 135px;
    visibility: visible;
    height: 42px;
}

/**emoji表情支持*/
.emoji-face{

        display: none;
        position: absolute;
        top:0px;
        left:0px;
        z-index:10000;
        width:300px;
        height: 134px;
        background: #ddd;
}

.emoji-face ul li{
    float: left;
    display: block;
    padding: 2px;
}

.emoji-face ul li:hover{

}
.icon-off{
    background: url("/static/images/power_off.png") no-repeat;
    height: 24px;
    width: 24px;
    display: inline-block;
    float: right;
    border-radius: 5px;
}

.icon-off:hover{
    box-shadow: 0px 0px 2px #fff;
}
