 <ul>
    <li>:bowtie:</li>
    <li>:smile:</li>
    <li>:laughing:</li>
    <li>:blush:</li>
    <li>:relaxed:</li>
    <li>:smirk:</li>
    <li>:heart_eyes:</li>
    <li>:kissing_heart:</li>
    <li>:kissing_closed_eyes:</li>
    <li>:kissing_closed_eyes:</li>
    <li>:flushed:</li>
    <li>:relieved:</li>
    <li>:satisfied:</li>
    <li>:grin:</li>
    <li>:wink:</li>
    <li>:stuck_out_tongue_winking_eye:</li>
    <li>:stuck_out_tongue_closed_eyes:</li>
    <li>:grinning:</li>
    <li>:kissing:</li>
    <li>:kissing_smiling_eyes:</li>
    <li>:stuck_out_tongue:</li>
    <li>:worried:</li>
    <li>:frowning:</li>
    <li>:anguished:</li>
    <li>:open_mouth:</li>
    <li>:grimacing:</li>
    <li>:confused:</li>
    <li>:expressionless:</li>
    <li>:unamused:</li>
    <li>:sweat_smile:</li>
    <li>:sweat:</li>
    <li>:weary:</li>
    <li>:pensive:</li>
    <li>:disappointed:</li>
    <li>:confounded:</li>
    <li>:fearful:</li>
    <li>:persevere:</li>
    <li>:cry:</li>
    <li>:sob:</li>
    <li>:joy:</li>
    <li>:astonished:</li>
    <li>:astonished:</li>
    <li>:scream:</li>
    <li>:neckbeard:</li>
    <li>:tired_face:</li>
    <li>:angry:</li>
    <li>:rage:</li>
    <li>:triumph:</li>
    <li>:sleepy:</li>
    <li>:yum:</li>
    <li>:mask:</li>
    <li>:sunglasses:</li>
    <li>:dizzy_face:</li>
    <li>:imp:</li>
    <li>:smiling_imp:</li>
    <li>:neutral_face:</li>
    <li>:neutral_face:</li>
    <li>:no_mouth:</li>
    <li>:innocent:</li>
    <li>:alien:</li>
</ul>