<!DOCTYPE html>
<html>
  <head>
    <title>Tornado WebSocket</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/static/jquery.js"></script>
    <link href="/static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/emojify.css">
    <script src="/static/emojify.js"></script>
  </head>
  <body>
    <div id="fullscreen_post_bg" class="fullscreen_post_bg" style="background-image:url('https://gs1.wac.edgecastcdn.net/8019B6/data.tumblr.com/e4a9352696f9b0e243dae94323f8d61a/tumblr_mud0uvcmVl1qzoi69o1_1280.jpg');">
        <img id="fullscreen_post_image" src="https://gs1.wac.edgecastcdn.net/8019B6/data.tumblr.com/e4a9352696f9b0e243dae94323f8d61a/tumblr_mud0uvcmVl1qzoi69o1_1280.jpg" alt="Posted by neaq">
    </div>
    <div id="container">
        <div id="chat" class="chatPanel normalPanel">
            <div class="content">
                <div id="chat_leftpanel" class="list">
                    <div class="top">
                        <div id="profile" class="title">
                           <div class="myProfile">
                               <a href="https://cn.gravatar.com/" title="点击更换你的头像" target="_blank"><img src="{{ avatar }}"/> </a>
                                <div class="info">  <span class="nickName">{{ nickname }}</span> </div>
                                <div class="operaterBox" style="display:none;" id="operaterBox">
                                    <div class="operaterBoxPanel">  <a href="javascript:;" class="DesktopRemind" tip="Please enable desktop alert in your browser first."> <span class="iconPic iconPicDeskRem left"></span> <span class="operaterBoxTitle left">Desktop Alert</span> <div class="clr"></div> </a> <a href="javascript:;" class="voiceCancel" click="toggleMute"> <span class="iconPic  left"></span> <span class="operaterBoxTitle left">Sound Off</span> <div class="clr"></div> </a>     <a href="javascript:;" class="feedback" click="feedback">         <span class="iconPic iconFeedback left"></span>         <span class="operaterBoxTitle left">Feedback</span>         <div class="clr"></div>     </a>     <a href="javascript:;" class="iconLogout" url="/cgi-bin/mmwebwx-bin/webwxlogout" click="logout"> <span class="iconPic iconPicLogout left"></span>
                                    <span class="operaterBoxTitle left">Log Out</span> <div class="clr"></div> </a> </div>
                                </div>
                            </div>
                            <a href="/logout"><i class="icon-off"></i><a>
                       </div>
                    </div>
                    <div class="listContentWrap">
                        <div style="height: 400px; width: 100%; overflow-y: auto; overflow-x:hidden; position: relative;">
                            <div class="listContent">
                                <div id="chatMember" class="conversationContainer">
                                    <div id="chat-all" class="chatListColumn" target="#all">
                                            <div class="avatar_wrap"><img class="avatar" src=""></div>
                                            <div class="info">
                                                <div class="nickName">
                                                    <div class="left name" style="">群聊</div>
                                                </div>
                                                <div class="descWrapper">
                                                    <p class="desc"></p>
                                                </div>
                                            </div>
                                    </div>
                                    {% for client in clients %}
                                        <div id="{{ client.id }}" class="chatListColumn" target="#chat-{{ client.id }}">

                                            <div class="avatar_wrap"><img class="avatar" src="{{ client.avatar }}"></div>
                                            <div class="info">
                                                <div class="nickName">
                                                    <div class="left name" style="">{{ client.nickname }}</div>
                                                </div>
                                                <div class="descWrapper">
                                                    <p class="desc">{{ client.email }}</p>
                                                </div>
                                            </div>

                                        </div>
                                    {% end %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="vernierContainer" style="width: 32px; position: relative; float: left; overflow: hidden; margin-top: 135px; visibility: visible; height: 42px;">
                    <div class="activeChatVernier" style="top: -347.5px;"></div>
                </div>
                <div id="chat_containers" class="chat lightBorder" style="visibility: visible;height:400px">
                    <div id="emoji_face" class="emoji-face">
                        <ul>
                            <li>:bowtie:</li>
                            <li>:smile:</li>
                            <li>:laughing:</li>
                            <li>:blush:</li>
                            <li>:relaxed:</li>
                            <li>:smirk:</li>
                            <li>:heart_eyes:</li>
                            <li>:kissing_heart:</li>
                            <li>:kissing_closed_eyes:</li>
                            <li>:kissing_closed_eyes:</li>
                            <li>:flushed:</li>
                            <li>:relieved:</li>
                            <li>:satisfied:</li>
                            <li>:grin:</li>
                            <li>:wink:</li>
                            <li>:stuck_out_tongue_winking_eye:</li>
                            <li>:stuck_out_tongue_closed_eyes:</li>
                            <li>:grinning:</li>
                            <li>:kissing:</li>
                            <li>:kissing_smiling_eyes:</li>
                            <li>:stuck_out_tongue:</li>
                            <li>:worried:</li>
                            <li>:frowning:</li>
                            <li>:anguished:</li>
                            <li>:open_mouth:</li>
                            <li>:grimacing:</li>
                            <li>:confused:</li>
                            <li>:expressionless:</li>
                            <li>:unamused:</li>
                            <li>:sweat_smile:</li>
                            <li>:sweat:</li>
                            <li>:weary:</li>
                            <li>:pensive:</li>
                            <li>:disappointed:</li>
                            <li>:confounded:</li>
                            <li>:fearful:</li>
                            <li>:persevere:</li>
                            <li>:cry:</li>
                            <li>:sob:</li>
                            <li>:joy:</li>
                            <li>:astonished:</li>
                            <li>:astonished:</li>
                            <li>:scream:</li>
                            <li>:neckbeard:</li>
                            <li>:tired_face:</li>
                            <li>:angry:</li>
                            <li>:rage:</li>
                            <li>:triumph:</li>
                            <li>:sleepy:</li>
                            <li>:yum:</li>
                            <li>:mask:</li>
                            <li>:sunglasses:</li>
                            <li>:dizzy_face:</li>
                            <li>:imp:</li>
                            <li>:smiling_imp:</li>
                            <li>:neutral_face:</li>
                            <li>:neutral_face:</li>
                            <li>:no_mouth:</li>
                            <li>:innocent:</li>
                            <li>:alien:</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/template" id="tpl_chatcontainer">
        <div id="{0}" class="chatContainer" style="display:none">
            <div class="chatTitle">
                <h2>{1}</h2>
            </div>
            <div class="chatScorll" id="message"></div>
            <div id="chat_editor" class="chatOperator lightBorder">
                <div class="inputArea">
                    <form class="sendForm">
                        <input type="hidden" name="message_to" value="{2}">
                        <a href="#" class="chatSend"><b>发送</b></a>
                        <textarea class="chatInput lightBorder"></textarea>
                        <div class="btn_face">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="tpl_chatmember">
        <div id="{3}" class="chatListColumn" target="#chat-{4}">
            <div class="avatar_wrap"><img class="avatar" src="{0}"></div>
            <div class="info">
                <div class="nickName">
                    <div class="left name" style="">{1}</div>
                </div>
                <div class="descWrapper">
                    <p class="desc">{2}</p>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="tpl_chatItem">
        <div class='chatItem {2}'>
            <div>
                <img class='avatar' src='{1}' title='{3}'/>
                <div class='content'><p>{0}</p></div>
                <div style='clear:both'></div>
            </div>
        </div>
    </script>

    <script type="text/javascript">

        var current_user = '{{ email }}'

        //Template

        var tpl_chatItem = $("#tpl_chatItem").html();

        //emoji config
        emojify.setConfig({
            emojify_tag_type: 'img',
            emoticons_enabled: true,
            people_enabled: true,
            nature_enabled: true,
            objects_enabled: true,
            places_enabled: true,
            symbols_enabled: true
        });

         emojify.run();

        $(function(){

            //##############################页面初始化
            var tpl_chatcontainer = $("#tpl_chatcontainer").html()
                    .replace("{0}", "all")
                    .replace("{1}", "群聊中")
            $("#chat_containers").empty().append(tpl_chatcontainer)
            $("#all").fadeIn(500);

            //################################ 用户列表点击处理
            $("#chatMember").delegate(".chatListColumn","click", function(){

                var target = $(this).attr("target");
                if(target!=undefined){
                    var _class = $(target).attr("class")
                    $("."+_class).hide();
                    $(target).fadeIn(500);
                }

            });

            //############################## 表情支持
            $(".btn_face").click(function(e){

                var xx = (e.pageX || e.clientX + document.body.scrollLeft)-290;
                var yy = (e.pageY || e.clientY + document.boyd.scrollTop)-155;
                $("#emoji_face").css("top",yy).css("left",xx).toggle();

            });

            $("#emoji_face").delegate("li", "click", function(e){

                var emoji = $($(this).find('img')[0]).attr('title');
                tmp = $("#textInput").val()+emoji
                $("#textInput").val(tmp);
                emojify.run();

            });

            //##################################### 发送信息
            $("body").on('click', '.chatSend', function(){

                console.log(this)
                var $from = $(this).parent('form')
                $from.submit()
                return false

            });


            //ctrl+Enter发送信息
            $("#textInput").keyup(function(e){

                if(e.ctrlKey && e.which == 13 || e.which == 10) { // Ctrl+Enrer(回车)
                     //需要执行的代码
                    $("#btnSend").click();
                }

            });

            $("body").delegate('.sendForm', 'submit', function(){

                var _textarea = $(this).find('textarea')
                var value = _textarea.val()

                $.post("./chat", { data: value }, function(data){
                    $("#data").val('');
                });
                _textarea.val("");
                return false;

            });

            //####################### websocket 消息处理
            if ("WebSocket" in window) {

                var curWwwPath=window.document.location.href;
                var pathName=window.document.location.pathname;
                var pos=curWwwPath.indexOf(pathName);
                var localhostPaht=curWwwPath.substring(7,pos);

                var ws = new WebSocket('ws://'+localhostPaht+'/websocket')

                ws.onmessage = function(event){

                    obj = eval("("+event.data+")")

                    if(obj.type=="normal"){

                        console.log(obj)

                        var tpl = tpl_chatItem.replace("{0}", obj.message)
                            .replace("{1}", obj.avatar)
                            .replace("{3}", obj.nickname)

                        if(obj.email==current_user){
                            tpl = tpl.replace("{2}", "me")
                        }else{
                            tpl = tpl.replace("{2}", "you")
                        }

                        $("#message").append(tpl)
                        emojify.run();

                    }else if(obj.type=="add"){

                        for(var i=0;i<obj.clients.length;i++){

                            //更新用户列表项
                            //有新成员加入
                            var client = obj.clients[i]
                            var length = $("#"+client.id).length
                            if(length==0){
                                var tpl_chatmember = $("#tpl_chatmember").html()
                                    .replace("{0}", client.avatar)
                                    .replace("{1}", client.nickname)
                                    .replace("{2}", "")
                                    .replace("{3}", client.id)
                                    .replace("{4}", client.id)
                                $("#chatMember").append(tpl_chatmember)
                            }

                            //更新聊天面板项
                            var length = $("#chat-"+client.id).length
                            if(length==0){
                                var tpl_chatcontainer = $("#tpl_chatcontainer").html()
                                        .replace("{0}", "chat-"+client.id)
                                        .replace("{1}", "与"+client.nickname+"聊天中...")
                                        .replace("{2}", client.id)
                                $("#chat_containers").append(tpl_chatcontainer)
                            }

                        }

                    }else if(obj.type=='out'){
                        var select = "#"+obj.id;
                        $(select).fadeOut(1000).remove();
                    }
                }

            } else {

              alert("WebSocket not supported");

            }

        });
    </script>
  </body>
</html>
