<!DOCTYPE html>
<html>
  <head>
    <title>Tornado WebSocket</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/static/jquery.js"></script>
    <link href="/static/css/login.css" rel="stylesheet">
  </head>
  <body>

    <div id="fullscreen_post_bg" class="fullscreen_post_bg">
        <div id="fullscreen_bg_load">
            <img src="/static/images/loading_s.gif">
        </div>
    </div>
    <div id="loginContainer">
      <div class="main">
        <div class="loginPanel">
            <div class="enlogoTitle title pngBackground">
                <h1>Tornado Chat</h1>
            </div>
            <div class="panelContent">
                <form method="post">
                    {% if error %}
                        <span id="server_message" class="label label-warning">{{ error }}</span>
                    {% end %}
                    <div style="display:none">
                        <span id="client_message" class="label label-warning" ></span>
                         <br/><br/>
                    </div>
                    <div>
                    <input id="input_email" name="email" type="email" class="top" placeholder="邮箱地址"/>
                    <input id="input_nickname" name="nickname" type="text" class="bottom" placeholder="昵称"/>
                    </div>
                    <button type="submit">进入</button>
                </form>
            </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/static/login.js"></script>
  </body>
</html>
